//Colores principales
$colorPrimario: #C3906B;
$colorSecundario: #FEF8EC;
$colorFooter: #3D3834;
$negro: black;
$colorBusqueda:#ccc;
$colorBusquedaFocus:#888;
$colorBlanco: #fff;
$colorCirculos: #F49A58;
//---------------------------------------------------------------
//Letras
$colorTitulos: #9B785F;
$tamañoTitulos:96;
$tamañoLetraContactos:15;
$tamañoLetraMenu:24;
$tamañoLetraMenuNormal:18;

//--------------------------------------------------------------
// Elementos
$colorBotonCompra: #F49A58;
$colorBotonCompraHover: #ec7018;
$colorTarjetasPrincipales: #DFE6EC; 


//-----------------------------------------------------
//Tamaños Layout
$anchoGeneral: 1440;
$altoHeader:460;
$altoContactos:40;
$altoBusqueda:100;
$altoBuscadores:38;
$altoFooter:250;
$anchoBuscador:460;
$anchoCompra:120;
$altoNav:40;
$altoBanner:209;
$altoMasVendidos:700;
$tamañoSVG:18;
$margenContactos:40;
$margenContactosInterno:12;
$altoLogo:90;
$radioBusqueda:20;
//---------------------------------------
//Footer
$anchoDescripcionFooter:300;
$paddingFooter:10;
$tamañoSVGfooter:35;
//---------------------------------
//Página Principal
$tamañoC1:30;
$tamañoC2:15;
$tamañoC3:8;
$altoMasVendidos:450;
$altoTarjeta:500;
$anchoTarjeta:400;
$gapTarjetas:40;
$gapTarjetasINTR:30;
$borderRadius:40;
$altoFotoCar:180;
$anchoFotoCar:300;
$altoBoton:61;
$anchoBoton:199;
$altoTarjeta2:400;